@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    /* Primary */
    --VeryDarkBlue: hsl(233, 47%, 7%); /*main background*/
    --DarkDesaturatedBlue: hsl(244, 38%, 16%); /*card background*/
    --SoftViolet: hsl(277, 64%, 61%); /*Accent*/

    /* Neutral */
    --White: hsl(0, 0%, 100%); /* Main heading and Stats */
    --SlightlyTransparentWhiteParagraph: hsla(0, 0%, 100%, 0.75); /* Main paragraph */
    --SlightlyTransparentWhiteHeadings: hsla(0, 0%, 100%, 0.6); /*Stats Heading*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: var(--VeryDarkBlue);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.main-container {
    max-width: 1080px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    background-color: var(--DarkDesaturatedBlue);
    border-radius: .5rem;
    overflow: hidden;
}

.info-container {
    padding: 4rem;
}

.title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: var(--White);
    padding-bottom: 1.4rem;
}

strong {
    color: var(--SoftViolet);
}

.subtitle {
    font-family: "Lexend Deca";
    font-weight: 400;
    color: var(--SlightlyTransparentWhiteParagraph);
    line-height: 1.6;
}

.card-image {
    position: relative;
    background-color: var(--SoftViolet);
}

.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.stats {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4rem;
}

.stats p {
    color: var(--SlightlyTransparentWhiteHeadings);
}

.stats p.num {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: var(--DarkDesaturatedBlue);
    padding: .5rem;
    color: var(--SoftViolet);
}

footer a {
    text-decoration: none;
}